
    <div class="button_solid004">
   <a href="users/new" class="btn-solid"><span>新規追加</span></a>
</div>
    
<table>
  <thead>
  <div class="tablecss">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
    </tr>
    </div>
  </thead>
  

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.start_date %></td>
        <td><%= user.finish_date %></td>
        <td><%= user.allday %></td>
        <td><%= user.update_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>



